.DS_Store
data/reconsBC-JuanPaz/analitza9
data/to_sent_2014_06_01/boost/
data/example_graphs/barabase_20_4.gpfc.in
data/example_graphs/barabase_20_4.gpfc.log
data/example_graphs/barabase_20_4.gpfc.out
data/example_graphs/barabase_20_4.gpfc.res
data/example_graphs/test.gpfc.in
data/example_graphs/test.gpfc.log
data/example_graphs/test.gpfc.out
data/example_graphs/test.gpfc.res
data/example_graphs/test_4nodes.gpfc.in
data/example_graphs/test_4nodes.gpfc.log
data/example_graphs/test_4nodes.gpfc.out
data/example_graphs/test_4nodes.gpfc.res
data/to_sent_2014_06_01/sortida.txt
data/to_sent_2014_06_01/wheel14.txt.log
data/to_sent_2014_06_01/wheel4.txt.log
data/to_sent_2014_06_01/wheel4.txt.out
src/rebuild_graph/rebuild_graph.xcodeproj/project.xcworkspace/xcuserdata/oscarraigcolon.xcuserdatad/UserInterfaceState.xcuserstate
src/rebuild_graph/rebuild_graph.xcodeproj/xcuserdata/oscarraigcolon.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
